body {
    font-size: 20px;
}

.size1 , .size2,.size3,.ascii-art,.button{
  color: "#000000";
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.size1 , .size2,.size3{
  width: 500px;
  max-width: 100%;
}
.size1 , .size2{
  font-weight: 700;
}
.size2, .size3{
  line-height: 30px;
}
.size1 {
    font-size: 80px;
    line-height: 70px;
    margin: 10 auto 0 auto;
  }
  .size2 {
    font-size: 25px;
    margin: 20 auto 10 auto;
  }
.size3 {
    font-weight: 200;
    margin: 0 auto 50 auto;
  }
  .ascii-art{
    font-weight: 900;
    font-size: 6px;
    line-height: 1;
    white-space: pre;
  }
  .button {
    display: inline-block;
    line-height: 1;
    margin: 10 10;
  }
  .button:hover {
    background-color: #f0f0f0;
  }
  .blink {
    animation: blinker 3s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  a:hover, a:visited, a:link, a:active
  {
    text-decoration: none;
    color: #000000;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
  }

  @media (min-resolution: 300dpi) {
    body {
        font-size: 40px;
    }
    .ascii-art{
        font-size: 4px;
      }
}
